html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* Matches MUI default */
  background-color: #f9f9f9; /* Light neutral background */
}

/* Make MUI AppBar stick and content scroll nicely */
body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}